<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924981877407-es093ph0vq3hmhqa1e5oo1ndertva678.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924981877407-es093ph0vq3hmhqa1e5oo1ndertva678</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>924981877407-injks4m7pmi5skl2ummtkcceingcietl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkUZXDP3IE3SCBRU5WjjCuuH30Ej2-6zc</string>
	<key>GCM_SENDER_ID</key>
	<string>924981877407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tour</string>
	<key>PROJECT_ID</key>
	<string>classchat-befef</string>
	<key>STORAGE_BUCKET</key>
	<string>classchat-befef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924981877407:ios:815b4bbd5ee98f75bba0aa</string>
</dict>
</plist>